
$bodyBg:#EEF4F9;
$BlueBg: #EEFAFF;
$fontFamily:Helvetica;
$fonstSize: 12px;
$fontColor: #3B3D3F;
$colorRed: #FC3401;
$colorBlue: #03B9ED;
$colorGray: #F4F5F5;


body {
  background: $bodyBg;
  font-family: $fontFamily;
  color:$fontColor;
  font-size: $fonstSize;
}
.app{
  // margin: auto;
  // display:grid;
  // justify-content: center;
  // align-self: center;
  // grid-template-columns: 1.5fr 3fr;
  // max-width : 768px;
  // max-height: 1024px;
  // position: absolute;

  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.left{
  position: relative;
  z-index: 100;
  width: 40%;
  overflow-y: hidden;
  display: block;
  flex: 40%;
}

.right{
  display: block;
  padding-inline: 2rem;
  background: $colorGray;
  border-block-end: $fontColor .1rem solid;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  width: 40%;
  height: 100%;
  position: absolute;
}

.card {
  background: $BlueBg;
  padding: .7rem;
  border-inline-start: $colorBlue .2rem solid;
  border-block-end: $fontColor .1rem solid;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.cardTitle {
  // font-size: 20px;
  color: $colorBlue;
}